/* ------------------------------BASIC LAYOUT---------------------- */
*{
  margin:0;
  box-sizing: border-box;
}
html{
	font-size: 16px;
	width: 100%;
}
body {
  width: 100%;
  background-color: #FFFFFF;
}
h1, h1 a{
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2rem;
	line-height: 3rem;
}
h2, h2 a{
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2rem;
	line-height: 2.5rem;
}
h3, h3 a{
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5rem;
	line-height: 2rem;
}
h4, h4 a{
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1rem;
	line-height: 1rem;
}
h5, h5 a{
	font-family: 'Poppins',sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	line-height: 1rem;
}
h6{
}
p, p a{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.5rem;
}
a, a:visited {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1rem;
	line-height: 1rem;
	text-decoration: none;
}
a:focus, 
a:hover{ 
  text-decoration: none;
}
a img{
	border: none;
	width:100%;
	height:auto;
	display: block;
}

.meta-tags,
.attributes,
.copyright{
	font-size: 0.75rem;
	line-height: 0.75rem;
}
.meta-tags a,
.attributes a,
.copyright a{
	display: inline-block;
	font-size: 0.75rem;
	line-height: 0.75rem;
}
.meta-tags,
.meta-tags a{
	text-transform: uppercase;
}
b,
strong{ 
	font-weight: bold;
}
blockquote{
	font-weight: bold;
	font-style: italic;
	margin-left: 30px;
}
ul, ol{
	margin: 0;
	padding: 0 0 1rem 2rem;
}
ul li, 
ol li{
	margin: 0;
}
ul li ul{
	padding-bottom: 0;
}

address{
	font-weight: bold; 
}
code{ 
	font-family: Courier, monospace;
}
dt{
	margin-left: 15px;
	font-weight: bold;
}
dd{
	margin: 15px 0 15px 30px;
}
em{ 
	font-style: italic;
}
/* ------------------------------GRID---------------------- */
.col-1{
	width: 8.3333%;
	padding-left: calc(5%/12);
	padding-right: calc(5%/12);
}
.col-2{
	width: 16.6667%;
	padding-left: calc(2.5%/6);
	padding-right: calc(2.5%/6);
}
.col-3{
	width: 25%;
	padding-left: calc(1.666%/4);
	padding-right: calc(1.666%/4);
}
.col-4{
	width: 33.3333%;
	padding-left: calc(1.25%/3);
	padding-right: calc(1.25%/3);
}
.col-5{
	width: 41.6667%;
	padding: 0 1%;
}
.col-6{
	width: 50%;
	padding: 0 0.8333%;
}
.col-7{
	width: 58.3333%;
	padding-left: calc(0.7143%*7/12);
	padding-right: calc(0.7143%*7/12);
}
.col-8{
  width: 66.6667%;
  padding-left: calc(0.625%*2/3);
	padding-right: calc(0.625%*2/3);
}
.col-9{
	width: 75%;
	padding: 0 0.5556%;
	float: left;
}
.col-10{
	width: 83.3333%;
	padding: 0 0.5;
	float: left;
}
.col-11{
	width: 91.6667%;
	padding: 0 0.4545%;
	float: left;
}
.col-12{
	width: 100%%;
	padding: 0 0.4167%;
	float: left;
}
/* ------------------------------LAYOUT---------------------- */
.left{
	float: left;
}
.right{
	float: right;
}
.float-footer-l{
	float: left;
}
.float-footer-r{
	float: right;
}
/* self-clear floats */
.group:after {
	content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
.clearfix{
  width:100%;
  overflow:auto;
}
.alignright {
	text-align: right;
}
.aligncenter{
	text-align: center;
}
.alignleft {
	text-align: left;
}
.hide{
	display: none;
}
.mobile{
	display: none;
}
.hide-responsive{
	display: block;
}
.show-responsive{
	display:none;
}
.hide { 
	display: none; 
}
.no-margin{
	margin:0;
}
.no-padding{
	padding:0;
}
.pad-bot{
	padding-bottom: 0.5rem;
}
.pad-bot-2x{
	padding-bottom: 1rem;
}
.pad-bot-4x{
	padding-bottom: 2rem;
}
.margin-bot{
	margin-bottom: 8px;
}
.flex-center-row{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;	
}
.flex-center-center-row{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: center;		
}
.flex-top-row{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;	
}
.flex-left-row{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: left;	
}
.flex-center-column{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.flex-space-between-row{
	display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-space-around-row{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}
.fullwidth{
	width: 100%;
}
.fullheight{
	height: 100%;
}
section{
	width:100%;
	padding: 3rem 5%;
	background-color: #FFFFFF;
}
.header_icon,
.footer_icon{
	font-size: 1.5rem !important;
	margin: 0 0.25rem;
	color: #FFFFFF;
}
hr{
	height: 1px;
	border: none;
	display: block;
	margin: 0;
	background-color: #000000;
}
.separator{
	margin-bottom: 1.5rem;
}
.image{
	display: block;
	width: 100%;
}
.image-list{
	width: auto;
	height: 300px;
	float: left;
	padding-bottom: 1rem;
}
.w90{
	width: 90%;
	margin: 0 auto;
}
/*--------------------Tablas-----------------------*/
.tabla_top{
	border: 2px solid #1E3440;
	width:60%;
	margin:0 20% 1rem 20%;
}
.th_cabeza{
	border: 2px solid #1E3440;
	background-color: #1E3440;
	color: white;
	text-align: center;
}
.tr_fila{
	border: 2px solid #1E3440;
}
.td_celda{
	border: 2px solid #1E3440;
}
.tabla_tienda{
	border: 2px solid #1E3440;
	width:45%;
	float:left;
	margin: 0.5rem;
}
.table_icon{
	font-size: 1rem;
	margin: 0 8px;
	color: #FFFFFF;
}


/* ------------------------------HEADER---------------------- */
header{
	width:100%;
  height:96px;
  text-align: center;
  background-color: #1E3440;
  position: relative;
  z-index: 4;
  -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
  -moz-box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
}
header h1{
	float: left;
	font-size: 2rem;
	padding: 0;
	margin: 0;
}
#header-top{
	width: 100%;
	padding: 0 5%;
	height: 56px;
}
#logo-header{
  height:40px;
  width: auto;
  display: block;
}
#header-menu{
	width: 100%;
	padding: 0 5%;
	height: 40px;
	background-color: #E9E9E9;
}
#topnav{
	padding: 0;
	list-style: none;
}
.responsive{
	display: none;
}
#topnav li{
	float: left;
	padding: 0.75rem 1rem;
}
#topnav .bars{
	display: none;
}
/* ------------------------------SEARCHFORM---------------------- */
.searchbar{
	width: 60%;
}
#searchform{
	width: 100%;
	height: 40px;
}
#search_text{
	font-family: 'Maven Pro', sans-serif;
	font-size: 1rem;
	background-color: #FFFFFF;
	color: #000000;
	border: solid 1px #30AAB3;
	border-radius: 4px 0 0 4px;
	width: calc(100% - 68px);
	padding: 8px 8px;
	text-align: left;
	float: left;
	height: 22px;
}
#search_submit{
	background-color: #30AAB3;
	width: 50px;
	border: solid 1px #30AAB3;
	border-radius: 0 4px 4px 0;
	float: left;
	height: 40px;
}
/* ------------------------------FOOTER---------------------- */
footer{
	width:100%;
	height: auto;
	color: #FFFFFF;
	background-color: #1E3440;
	min-height: 144px;
	padding-top: 3rem;
}
footer a{
	color: #FFF;
}
footer a:hover{
	color: #CFCFCF;
}
.footer-top{
	width: 100%;
	padding: 0 5% 1rem 5%;
	min-height: 200px;
}
.footer-bottom{
	width: 100%;
	min-height: 24px;
}
#footer-logo{
	height: 60px;
}
.social{
	height: 24px;
}
.menu-footer-menu-container ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-footer-menu-container li{
	padding-bottom: 1rem;
}
.menu-footer-menu-container li a{
	display: block;
}

/* ------------------------------FRONT-PAGE---------------------- */

/* ------------------------------- SLIDER ---------------------- */
#slideshow{
	width: 100%;
	height: 480px;
	position: relative;
	padding: 0;
	margin: 0;
}
.slides{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}
.slide{
	width: 100%;
	height: 100%;
	background-clip: border-box;
	background-origin: padding-box;
	background-attachment: scroll;
}
.slide-content{
	width:50%;
	height: 100%;
	position:absolute;
	top:0;
	left:50%;
}
.slide-wrap{
	width: 66.66667%;
	padding: 0 2rem;
}
.slide-text{
	font-size: 2rem;
	font-weight: bold;
	line-height: normal;
	margin:0;	
	text-align: center;
}
.slide-btn{
	margin-top: 2rem;
	color: black;
	padding: 1rem 2rem;
}
.slide-btn-text{
	font-size: 1.5rem;
	font-weight: bold;
	line-height: normal;
}
.flex-nav-prev .flex-prev{
	left: 1rem;
}
.flex-nav-next .flex-next{
	right: 1rem;
}
.flex-direction-nav a{
	height:3rem;
	opacity: 0.5 !important;
	overflow: visible;
}
.flex-direction-nav a::before{
	color: #FFFFFF;
	opacity: 0.8;
	height: 3rem;
}
.flex-control-nav{
	bottom:1rem;
	z-index:10;
}
.flex-control-paging li a{
	background: #FFFFFF;
	opacity:0.5;
}
.flex-control-paging li a.flex-active{
	background: #FFFFFF;
	opacity:1;
}
/*--------------------FrontProducts-----------------------*/
#products{
}
/*--------------------Contacto-----------------------*/
.gmaps{

}
.gmaps .place-card,
.gmaps .place-card-large,
.login-control{
	display:none !important;
}
.gm{
	width:100%;
	height:450px;
}
.contact-form{
	height:450px;
}
.wpcf7{
	width:100%;
}
.cf-line{
	width:100%;
	padding: 1rem 0;
}
.cf-text{
	width:100%;
	padding-bottom: 1rem;
}
.wpcf7-text{
	width:100%;
	color:#1E3440;
}
.cf-inline{
	float:left;
	width:49%;
	margin:0 1%;
}
.cf-inline:first-child{
	margin-left: 0;
}
.cf-inline:last-child{
	margin-right: 0;
}
.wpcf7-textarea{
	width:100%;
	max-height: 100px;
	color:#1E3440;
}
.cf-button{
	margin-bottom: 1rem;
}
.wpcf7-submit{
	border: none;
	background-color: #1E3440;
	color: #FFFFFF;
	padding: 5px 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
/* ------------------------------INDEX---------------------- */
#grid[data-columns]::before{
	content: '2 .column.size-1of2';
}
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }

.index-post{
	background-color: #FFFFFF;
	width: 90%;
	margin: 0 5%;
	margin-bottom: 2rem;
	height:auto;
	float:left;
	transition: all .3s ease-in-out;
}
.index-post:hover{
	transform: translateY(10px);
}
.index-post-content{
	width: 90%;
	margin: 1rem 5%;
}
article{
	transition: .3s all ease-in-out;
	box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
}
.thumbnail{
	height:auto;
	position: relative;
}
.thumbnail a{
	display:block;
}
.thumbnail img,
.thumbnail a img{
	width:100%;
	height:auto;
	display: block;
}
.post-type {
	margin: 0;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.8rem;
  vertical-align: middle;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  bottom: -20px;
  z-index: 10;
  font-family: 'maca-theme';
   background-color: #3C687F;
}

.pagination p{
  margin:0 0.5rem;
}
.pagination .current {
  color: #1E3440;
}
.pagination .inactive {
  color: #D6D6D6;
}

.read_more-button {
  text-align:center;
  padding-top:10px;
  display:flex;
  flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.read_more {
	display:block;
	float:left;
	padding:5px 10px;
  width:auto;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  background-color: #1E3440;
  color: #FFF;
}
.read_more:visited,
.read_more:hover {
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  background-color: #3C687F;
  color: #FFF;
  text-decoration: none;
}
.readmore{
	margin: 0;
	font-size: 1rem;
}
/* --------------------------STATUS FORMAT ---------------------- */
//Twitter status
.r-rs99b7 {
	border-width: 0 !important;
}
.entry-status{
	border-radius: 12px;
}
.twitter-tweet{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
/* --------------------------AUDIO FORMAT ---------------------- */
iframe {
	display: block;
  width: 100%;
  max-width:100% !important;
  margin:0 auto !important;
}
/* --------------------------QUOTE FORMAT ---------------------- */
.quote-format-quote{
	padding: 2rem 2rem 0 2rem;
}
.quote-format-quote p {
  font-size: 1.5rem;
}
.quote-format-author{
	padding: 0.75rem 2rem 2rem 2rem;
	text-align:right;
}
/* --------------------------CHAT FORMAT ---------------------- */
.format-chat  p {
  border-right:3px solid #1E3440;
  padding-right:10px !important;
  text-align:right;
}
.format-chat p:nth-child(odd) {
  border-left:3px solid #1E3440;
  border-right:0;
  text-align:left;
  padding-left:10px;
}
/* ------------------------------SINGLE---------------------- */
.post{
	background-color: #FFFFFF;
	width: 90%;
	margin: 2rem 5%;
	height:auto;
}
.share_social{
	text-align: center;
	color: #1E3440;
	padding-top: 2rem;
}
.share_social h4{
	font-size: 1.5rem;
}
.share_links{
	display:block;
	float:left;
	padding: 0 0.5rem;
}
.share_icons{
	font-size: 1.5rem !important;
}
#fourohfour{
	text-align: center;
	padding: 0;
}
/*--------------------PLUGINS-----------------------*/
.fbc-title{
	margin: 0.5rem 0;
	color: #1E3440;
}
/* ------------------------------ASIDE---------------------- */
aside {
	background: #FFFFFF;
}
.widget{
	margin-bottom: 2rem;
}
.rp_list{
	display: inline;
	height: 1rem;
}
.rp_icon{
	margin-right: 0.5rem;
}
.widget ul{
  padding: 0;
  margin: 0;
}
.widget ul li{
	list-style: none;
	padding: 1rem 0;
	border-bottom: 1px solid #CFCFCF;
}
.widget ul li:first-child{
	padding-top: none;
}
.widget ul li a{
	text-decoration: none;
}
.widget .children{
	padding: 0.3rem 0 0 1rem;
}
.widget .children li{
	padding-bottom: 0;
	border: 0;
}
/*--------------------Instagram-----------------------*/
.follow-ig{
	background-color: #E9E9E9;
	padding-top: 1rem;
}

/*--------------------MAILCHIMP-----------------------*/
.mailchimp{
}
.subscribe{
	font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  background-color: #FFFFFF;
  color: #000000;
  border: solid 1px #30AAB3;
  border-radius: 4px;
  width: 100%;
  padding: 0.5rem;
  text-align: left;
}
.button{
	background-color: #30AAB3;
  width: 50%;
  border: solid 1px #30AAB3;
  border-radius: 4px;
  line-height: 2rem;
	color: white;
	font-weight: 700;
}
/*--------------------PRODUCTS-----------------------*/
.product{
	background-color: #FFFFFF;
	border: 1px solid #666666;
}
.product-description{
	width: 90%;
	margin: 0 auto;
	min-height: 136px;
}
.old{
	color: grey;
}
.dscto{
	color: red;
}
.back_btn{
	padding: 1rem 0.5rem;
}
a .back_btn, a:visited .back_btn {
	color: #FFFFFF;
} 
.back_btn a:focus, .back_btn a:hover{
}