/**ADMIN STYLES**/
.group:after {
	content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
.metabox{
	width:100%;
	box-sizing: border-box;
	min-height: 200px;
}
.field{
	width:100%;
	padding: 10px 0;
	box-sizing: border-box;
	min-height: 80px;
}
.fieldname{
}
.fieldname label{
	font-weight: bold;
}
.fieldvalue{
}
.fieldvalue input{
	width:100%;
}
.fieldvalue .custom-img-container{
	width: 20%;
}
.fieldvalue .custom-img-container img{
	width: 100%;
	display:block;
}
.fieldvalue .custom-img-controls{
	width: 100%;
}